In [10]:
import pandas as pd
import networkx as nx

In [4]:
df = pd.read_json('events\events_World_Cup.json')

In [5]:
df

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],122671,"[{'y': 50, 'x': 50}, {'y': 53, 'x': 35}]",2057954,Pass,16521,1H,1.656214,85,258612104
1,8,High pass,[{'id': 1801}],139393,"[{'y': 53, 'x': 35}, {'y': 19, 'x': 75}]",2057954,Pass,16521,1H,4.487814,83,258612106
2,1,Air duel,"[{'id': 703}, {'id': 1801}]",103668,"[{'y': 81, 'x': 25}, {'y': 83, 'x': 37}]",2057954,Duel,14358,1H,5.937411,10,258612077
3,1,Air duel,"[{'id': 701}, {'id': 1802}]",122940,"[{'y': 19, 'x': 75}, {'y': 17, 'x': 63}]",2057954,Duel,16521,1H,6.406961,10,258612112
4,8,Simple pass,[{'id': 1801}],122847,"[{'y': 17, 'x': 63}, {'y': 15, 'x': 71}]",2057954,Pass,16521,1H,8.562167,85,258612110
...,...,...,...,...,...,...,...,...,...,...,...,...
101754,8,Simple pass,[{'id': 1801}],3476,"[{'y': 20, 'x': 46}, {'y': 6, 'x': 64}]",2058017,Pass,9598,2H,2978.301867,85,263885652
101755,7,Touch,[],14812,"[{'y': 6, 'x': 64}, {'y': 2, 'x': 82}]",2058017,Others on the ball,9598,2H,2979.084611,72,263885653
101756,8,Cross,"[{'id': 401}, {'id': 801}, {'id': 1802}]",14812,"[{'y': 2, 'x': 82}, {'y': 100, 'x': 100}]",2058017,Pass,9598,2H,2983.448628,80,263885654
101757,4,Goalkeeper leaving line,[],25381,"[{'y': 0, 'x': 0}, {'y': 98, 'x': 18}]",2058017,Goalkeeper leaving line,4418,2H,2985.869275,40,263885613
101758,8,Launch,[{'id': 1802}],25381,"[{'y': 43, 'x': 14}, {'y': 0, 'x': 0}]",2058017,Pass,4418,2H,3002.148765,84,263885618

In [54]:
match = df[df['matchId'] == 2057954]
passe = match[match['eventId'] == 8]

In [9]:
passe

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],122671,"[{'y': 50, 'x': 50}, {'y': 53, 'x': 35}]",2057954,Pass,16521,1H,1.656214,85,258612104
1,8,High pass,[{'id': 1801}],139393,"[{'y': 53, 'x': 35}, {'y': 19, 'x': 75}]",2057954,Pass,16521,1H,4.487814,83,258612106
4,8,Simple pass,[{'id': 1801}],122847,"[{'y': 17, 'x': 63}, {'y': 15, 'x': 71}]",2057954,Pass,16521,1H,8.562167,85,258612110
5,8,Simple pass,[{'id': 1801}],122832,"[{'y': 15, 'x': 71}, {'y': 11, 'x': 92}]",2057954,Pass,16521,1H,10.991292,85,258612113
7,8,Simple pass,[{'id': 1801}],122847,"[{'y': 11, 'x': 88}, {'y': 13, 'x': 88}]",2057954,Pass,16521,1H,15.039163,85,258612116
...,...,...,...,...,...,...,...,...,...,...,...,...
1578,8,Simple pass,[{'id': 1801}],102157,"[{'y': 44, 'x': 56}, {'y': 33, 'x': 66}]",2057954,Pass,14358,2H,2861.719049,85,258613766
1579,8,Simple pass,[{'id': 1802}],4513,"[{'y': 33, 'x': 66}, {'y': 38, 'x': 53}]",2057954,Pass,14358,2H,2863.131899,85,258613767
1581,8,Simple pass,[{'id': 1801}],220971,"[{'y': 64, 'x': 69}, {'y': 72, 'x': 73}]",2057954,Pass,14358,2H,2865.964868,85,258613768
1582,8,Simple pass,[{'id': 1801}],103682,"[{'y': 72, 'x': 73}, {'y': 70, 'x': 78}]",2057954,Pass,14358,2H,2868.496551,85,258613771
1588,8,Simple pass,[{'id': 1802}],122623,"[{'y': 50, 'x': 50}, {'y': 100, 'x': 100}]",2057954,Pass,16521,2H,2983.382036,85,258614079

In [26]:
passe['y'] = passe['positions'].apply(lambda x : x[0]['y'])

IndexingError: Too many indexers

In [55]:
y  = passe['positions'].apply(pd.Series)

In [56]:
passe['origem'] = y[0]
passe['destino'] = y[1]

C:\Users\eduar\AppData\Local\Temp/ipykernel_17072/2817985966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passe['origem'] = y[0]
C:\Users\eduar\AppData\Local\Temp/ipykernel_17072/2817985966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passe['destino'] = y[1]

In [69]:
z = lambda x :passe['origem'][x]['y']

In [78]:
aux = passe['origem'].apply(pd.Series)

In [81]:
passe['origem_y'] = aux['y']
passe['origem_x'] = aux['x']

C:\Users\eduar\AppData\Local\Temp/ipykernel_17072/2968213896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passe['origem_y'] = aux['y']
C:\Users\eduar\AppData\Local\Temp/ipykernel_17072/2968213896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passe['origem_x'] = aux['x']

In [98]:
passe[['playerId','origem_y', 'origem_x']].groupby(by=['playerId']).mean()

           origem_y   origem_x
playerId
4513      22.409091  65.090909
41123     82.192308  57.730769
101576    58.117647  18.058824
101583    31.807692  32.423077
101590    52.500000  59.625000
101669    46.000000  69.285714
101699    72.823529  61.529412
101707    56.105263  65.000000
101857    13.451613  49.548387
102157    50.103448  48.586207
103668    71.151515  32.575758
103682    58.964286  61.250000
122561    55.416667  13.541667
122577    62.970588  48.176471
122615    87.750000  72.500000
122623    49.000000  50.500000
122651    30.600000  31.927273
122671    58.000000  46.200000
122749    49.000000  51.000000
122832    25.159091  54.454545
122839    70.724138  32.879310
122847    40.792208  51.129870
122888    78.457143  56.514286
122940    13.666667  46.298246
139393    47.981132  44.792453
220971    61.400000  55.400000
257800    38.657895  65.973684
292954    89.134328  53.880597

In [94]:
passe[['playerId','origem_y']]

      playerId  origem_y
0       122671        50
1       139393        53
4       122847        17
5       122832        15
7       122847        11
...        ...       ...
1578    102157        44
1579      4513        33
1581    220971        64
1582    103682        72
1588    122623        50

[827 rows x 2 columns]